# Prophet

In [25]:
from fbprophet import Prophet

In [ ]:
import matplotlib.pyplot as plt

In [14]:
df = close_merge[['Close']]
df.head()

            Close
Date
11/14/2017  978.5
11/15/2017  985.0
11/16/2017  983.0
11/17/2017  996.5
11/20/2017  998.5

In [17]:
df.index = pd.to_datetime(df.index)

In [19]:
daily_df = df.resample('D').ffill()

In [20]:
d_df = daily_df.reset_index().dropna()

In [39]:
d_df.columns = ['ds', 'y']

m = Prophet(yearly_seasonality=True, daily_seasonality=True)
m.add_country_holidays(country_name='US')
m.add_seasonality(name='monthly', period=30.5, fourier_order=5)

m.fit(d_df)

future = m.make_future_dataframe(periods=7)
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

            ds        yhat  yhat_lower  yhat_upper
657 2019-09-02  871.246119  859.796698  882.896703
658 2019-09-03  868.149992  857.155909  879.617957
659 2019-09-04  865.646287  854.498686  877.779829
660 2019-09-05  863.132547  850.897554  875.185343
661 2019-09-06  861.948033  850.537943  872.977876

In [40]:
from fbprophet.diagnostics import cross_validation, performance_metrics
df_cv = cross_validation(m, horizon='90 days')
df_p = performance_metrics(df_cv)
df_p.head(5)

INFO:fbprophet:Making 5 forecasts with cutoffs between 2018-12-03 00:00:00 and 2019-06-01 00:00:00

  horizon         mse       rmse        mae      mape  coverage
0  9 days  461.578657  21.484382  18.204968  0.019334  0.333333
1 10 days  522.057077  22.848568  19.560861  0.020798  0.288889
2 11 days  622.594750  24.951849  21.120664  0.022476  0.244444
3 12 days  760.597652  27.578935  22.746076  0.024222  0.222222
4 13 days  951.736009  30.850219  24.733374  0.026352  0.200000